[user]
	name = okylean
	email = okylean@gmail.com
	useConfigOnly = true

{{ if and (hasKey . "workGitEnabled") .workGitEnabled }}
[includeIf "gitdir:~/Work/"]
	path = ~/.config/git/config-work
{{ end }}

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[fetch]
	prune = true
	pruneTags = true

[merge]
	conflictStyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[core]
	autocrlf = input
	quotepath = false

[column]
	ui = auto

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[rerere]
	enabled = true
	autoupdate = true
